// font styles
$maim-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

// text colors
$main-txt-cl: #212121;
$secondary-txt-cl: #757575;
$white-txt-cl: #ffffff;
$accent-cl: #2196f3;
$accent-btn-cl: #188ce8;
$placeholder-cl: rgba(117, 117, 117, 0.5);
$footer-link-cl: rgba(255, 255, 255, 0.6);

// background colors
$main-bg-cl: #2f303a;
$secondary-bg-cl: #f5f4fa;
$hidden-card-bg-cl: rgba(33, 150, 243, 0.9);

// icon color
$logo-dark-cl: #000000;
$social-links-cl: #afb1b8;
$social-links-bg-cl: rgba(255, 255, 255, 0.1);

// border color
$border-color: #eeeeee;
$border-header-color: #ececec;

// animations
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
