.menu {
	display: flex;
}

.header {
	padding-top: 16px;
	padding-bottom: 16px;

	border-bottom: 1px solid $border-header-color;
}

@media screen and (max-width: 767px) {
	.menu-container {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $white-txt-cl;
		padding-top: 48px;
		padding-left: 40px;
		padding-bottom: 48px;
		// z-index: 1;
	}

	.menu-container.is-open {
		display: block;
	}

	.menu-subcontainer {
		position: absolute;
		bottom: 48px;
	}
}

@media screen and (min-width: 768px) {
	.menu-container {
		display: flex;
		align-items: center;
		width: calc(100% - 222px);
	}

	.header {
		padding-top: 21px;
		padding-bottom: 21px;
	}

	.header__container {
		display: flex;
		align-items: center;
	}
}
@media screen and (min-width: 1200px) {
	.menu-container {
		width: calc(100% - 238px);
	}
	.header {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}
