.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
	.filter {
		justify-content: center;
	}
}

.filter__item {
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.grid__item {
	box-sizing: border-box;

	width: 370px;
	margin: 15px;
}
