h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	font-family: $maim-font;
	color: $main-txt-cl;
	letter-spacing: 0.03em;
	color: $secondary-txt-cl;
}
